*{
    background-color: black;
}
.container{
    border-color: rgb(252, 245, 245);
}
.logo{
    padding-left: 50%;
}
.fade-in {
    padding-left: 50%;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
.msg{ 
    padding-top: 20%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: azure;
    text-shadow: 0 0 20px hsl(204, 100%, 80%);
    font-size: 2em;

}
span{
    animation: blinker 1000ms linear infinite;
}


/*KEYFRAMES*/

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }