*{  font-family: 'Courier New', Courier, monospace;
    background-color: rgb(211, 196, 196);
}

.logo{
  margin: 0 auto;
    animation:
}
.fade-in {
    padding-left: 50%;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }

  .calculadora{
    width: 500px;
    margin: 0 auto;
    margin-top: 2em;
    background-color: rgb(238, 236, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(94, 93, 93);
  }

.display{
  display: flex;
  width: 100%;
  color: brown;
  height: 100px;
  margin-bottom: 20px;
  background-color: rgb(211, 196, 196);
  overflow: hidden;
  border-radius: 5px;
}


  .botoes{
    padding-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }



  /*KEYFRAMES*/

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }